@charset 'UTF-8';

/*
  Button
*/

.c-button {
    display: inline-block;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    transition: all .3s ease-in-out;
    &:focus {
        box-shadow: none;
        outline: none;
    }
}