@charset 'UTF-8';
// プラグインやWordPressなどの独自クラスの制御

/*
  Swiper.js
*/

@-webkit-keyframes zoomUp {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}

@keyframes zoomUp {
    /* 1.15倍させる指定 */
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}

.swiper-slide {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
    /* 12秒かけて拡大させる */
    -webkit-animation: zoomUp 12s linear 0s;
    animation: zoomUp 12s linear 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slide-img {
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.slide-img.--first {
    background-image: url('../img/hero1.jpg');
}

.slide-img.--second {
    background-image: url('../img/hero2.jpg');
}

.slide-img.--third {
    background-image: url('../img/hero3.jpg');
}


/*
  WordPress
*/

// 投稿画像の縦横比を保持
.wp-block-image img,
.wp-block-media-text__media img {
    height: 100%;
}

// 投稿欄のデフォルトpaddingをリセット
.wp-block-media-text .wp-block-media-text__content {
    padding: 0;
}

// ページネーション
.nav-links {
    margin-top: set-size(32px);
    text-align: center;
}

.page-numbers {
    display: inline-block;
    background-color: $hint-text-color;
    padding: set-size(12px) set-size(16px);
}


/*
  screen-reader-text
*/

.screen-reader-text {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}