@charset 'UTF-8';

/*
  Section
*/

.l-section {
    padding-top: set-size(48px);
}

.l-section.--heroLess {
    padding-top: set-size(120px);
}

@include mq(tab) {
    .l-section {
        padding-top: set-size(96px);
    }
}