@charset 'UTF-8';

/*
  BackGround Image
*/

.p-fixedBackground.--primary {
    background-image: url('../img/top_aboutus.jpg');
}

.p-fixedBackground.--secondary {
    background-image: url('../img/top_works.jpg');
}

.p-fixedBackground.--aboutus {
    background-image: url('../img/aboutus_hero.jpg');
}

.p-fixedBackground.--news {
    background-image: url('../img/news_hero.jpg');
}

.p-fixedBackground.--contact {
    background-image: url('../img/contact_hero.jpg');
}

.p-fixedBackground {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
}

@include mq(tab) {
    .p-fixedBackground {
        background-attachment: fixed;
    }
}