@charset 'UTF-8';

/*
  Contents
*/

.p-contents__text {
    font-size: set-size(12px);
    letter-spacing: .5px;
}

.p-contents__text.--center {
    text-align: center;
}

.p-contents__label {
    margin-top: set-size(16px);
    font-size: set-size(12px);
}

.p-contents__title {
    margin-top: set-size(16px);
}

.p_contents__thumbnail {
    margin-top: set-size(36px);
}

.p-contents__block {
    margin-top: set-size(48px);
}

@include mq(tab) {
    .p-contents__text {
        font-size: set-size(16px);
        line-height: 1.5;
    }
}