@charset 'UTF-8';

/*
  Heading
*/

.p-heading__primary {
    font-weight: bold;
    font-size: set-size(48px);
    margin-bottom: set-size(24px);
}

.p-heading__primary.--center {
    text-align: center;
}

.p-heading__secondary {
    font-size: set-size(24px);
    margin-bottom: set-size(24px);
}

.p-heading__secondary.--center {
    text-align: center;
}

.p-heading__news {
    font-size: set-size(20px);
}

@include mq(tab) {
    .p-heading__primary {
        font-size: 8vw;
        margin-bottom: set-size(64px);
    }
}