@charset 'UTF-8';

/*
  Media 
*/

.p-media__thumbnail {
    position: relative;
    overflow: hidden;
    height: 400px;
}

.p-media__thumbnail img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
}