@charset 'UTF-8';

/*
  Basic Button 
*/

.p-button {
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    background-color: $accent-color;
    padding: set-size(16px) 0;
    color: $secondary-text-color;
    text-align: center;
}

.p-button.--short {
    width: 100px;
}


/*
  Hamburger Button
*/

.p-button--hamburger {
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 1;
    margin: auto 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.p-button--hamburger__line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    width: 24px;
    height: 2px;
    background-color: $accent-color;
}

.p-button--hamburger__line:before,
.p-button--hamburger__line:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    content: '';
    transition: transform .2s ease-in-out;
}

.p-button--hamburger__line:before {
    top: -5px;
}

.p-button--hamburger__line:after {
    top: 5px;
}

.is-active-drawer .p-button--hamburger__line {
    background-color: transparent;
}

.is-active-drawer .p-button--hamburger__line:before,
.is-active-drawer .p-button--hamburger__line:after {
    top: 0;
    background-color: $accent-color;
}

.is-active-drawer .p-button--hamburger__line:before {
    transform: rotate(-45deg);
}

.is-active-drawer .p-button--hamburger__line:after {
    transform: rotate(45deg);
}