@charset 'UTF-8';

/*
  Footer
*/

.p-footer {
    margin-top: 4rem;
    padding: set-size(40px) 0;
    background-color: $sub-color;
    text-align: center;
    @include mq(tab) {
        padding: set-size(80px) 0;
    }
}

.p-footer__title {
    font-weight: bold;
    margin-bottom: 2rem;
}

.p-footer__address {
    font-size: .75rem;
    margin-bottom: .5rem;
}

.p-footer__tel {
    font-size: .75rem;
    margin-bottom: 2rem;
}

.p-footer__copyright {
    font-size: .75rem;
}