@charset 'UTF-8';
/*
  Break
-----------------------------------------------------*/
.u-break {

  &.-sp {
    @include mq(tab) {
      display: none;
    }
  }


  &.-tab {
    display: none;

    @include mq(tab) {
      display: inline;
    }
  }

}
